html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
  font-family: 'Roboto'
}

h1 {
  font-weight: 300;
  letter-spacing: -1px;
}

.app-content {
  padding: 0;
}

.list-books-content {
  flex: 1;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}