.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-bar-icon {
  cursor: pointer;
  padding: 0 26px;
}

.search-bar-input {
  flex: 1;
  height: 40px;
  outline: none;
  border: none;
  font-size: 16px;
}

.search-bar-showing {
  padding: 0 30px;
  align-content: right;
  color: #999;
}

.list-link {
  outline: none;
}